<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>未发货订单</h2>
    <% @no_shipped_orders.each do |order| %>
      <%= order.item.name %> <%= order.order_state.name %>
    <% end %>
    <hr>
    <h2>未评论订单</h2>
    <% @no_comment_orders.each do |order| %>
      <%= order.item.name %> <%= order.order_state.name %>
    <% end %>
    <hr>
    <h2>已完成订单</h2>
    <% @finish_orders.each do |order| %>
      <%= order.item.name %> <%= order.order_state.name %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>